<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= user.bio %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= user.birthday %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= link_to user.avatar.filename, user.avatar if user.avatar.attached? %>
  </p>

</div>
